body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  color: #333;
}
/* Topmost Advert */
/* .top-stripe{
    background: rgb(0, 71, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  } */
#citiStore {
  width: 100%;
  background: #dddddd;
}
#initial {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px;
  white-space: nowrap;
  background: #dddddd;
  padding: 0%;
}
.col01 a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 153, 0);
}
.col01 a:hover {
  text-decoration: underline;
}
.col02 {
  display: flex;
}
.col02 a {
  margin: 5px;
}
.col02 img {
  display: flex;
  width: 100px;
}

/* Header */
header {
  width: 100%;
  background: #ffffff;
  position: sticky;
    top: 0;
}
header section {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  background: #ffffff;
}
.col03 {
  display: flex;
  align-items: center;
  gap: 15px;
}
form {
  display: flex;
  gap: 10px;
}
.srch {
  border: none;
  border-radius: 10px;
  outline: 1px solid black;
}
form input {
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
}
.srch .fa-solid {
  padding-left: 10px;
}
form button {
  width: 90px;
  border-radius: 10px;
  height: 40px;
  color: #fff;
  background-color: rgb(245, 147, 0);
  font-weight: bolder;
  border: none;
}
header section img {
  width: 200px;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar {
  padding: 0%;
}
.nav-list {
  list-style-type: none;
}
.dropdown {
  display: flex;
  align-items: baseline;
  position: relative;
  gap: 10px;
  font-size: 16px;
}
.dropdown .subdrd {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(0, 0, 0);
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(255, 0, 0);
  padding: 10px;
  list-style-type: none;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-list li {
  margin-right: 20px;
}
.nav-list li a {
  text-decoration: none;
  color: #fff;
}
.dropdown-menu {
  display: none;
  /* position: absolute; */
  top: 100%;
  left: 0;
  background-color: rgb(255, 0, 0);
  padding: 10px;
  list-style-type: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
